* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Arial";
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

ol, ul {
    list-style: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
header {
    display: table;
    width: 100%;
    height: 70px;
    border-bottom: 2px solid #838385;
    position: fixed;
    z-index: 99999;
    background-color: #FFF;
}
header h3 {
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
    font-size: 24px;
}
.menu {
    background: url("../images/humburger.jpg") no-repeat center center;
    width: 100px;
    height: 70px;
    display: table-cell;
    background-size: 50%;
}
.main-wrapper {
    margin: 0 auto;
    padding: 10px;
}
.main-page-wrapper {
    margin: 0 auto;
}
.vCenter {
    padding-top: 70px;
}
.loginHeading {
    background-color: #d8d8d8;
    padding: 10px 35px;
    display: table;
    margin: 0 auto 20px auto;
    color: #212121;
}
.txt_box {
    border: 1px solid #919191;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 1.2em;
}
.btn {
    background-color: #b1b1b2;
    width: 100%;
    color: #FFF;
    padding:15px 10px;
    font-size: 1.2em;
    margin-bottom: 10px;
    font-weight: bold;
    cursor: pointer;
}

.btn_cws {
    border: 1px solid #537fc5;
    background-color: #FFF;
    color: #537fc5;
}

.formError {
    color: red;
}

.forgotPwd {
    position: fixed;
    bottom: 80px;
    text-align: center;
    width: 100%;
}

.forgotPwd a {
    color: #537fc5;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}
.forgotPwd a:hover {
    text-decoration: underline;
}
.innerContainer {
    overflow: auto;
    padding: 80px 0 60px 0;
}
.innerContainer h3.innerHeading {
    background-color: #f3f3f3;
    font-size: 22px;
    border-bottom: 1px solid #dcdcdc;
    padding: 15px 20px;
}
.subItem {
    border-bottom: 1px solid #dcdcdc;
    padding: 10px 20px;
    font-size: 15px;
    position: relative;
    cursor: pointer;
}
.subItem .big {
    font-size: 30px;
    padding-top: 10px;
}
.subItem span {
    font-size: 13px;
}
.subItem:after {
    content: "";
    border: solid #919395;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position: absolute;
    right: 20px;
    top: 40px;
}

.leftArrow {
    border: solid #919395;
    border-width: 3px 0 0px 3px;
    display: inline-block;
    padding: 7px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-top: 24px;
    margin-left: 27px;
}
.innerContainer table {
    margin: 10px 0;
    width: 100%;

}
.innerContainer table tr {
    border-bottom:1px solid #919395;
    padding-bottom: 10px;
}
.innerContainer table tr td {
    padding: 10px;
    vertical-align: top;
}
.statusBILLED {
    color: #c52f40;
}
.statusPAID {
    color: green;
}
.innerContainer table tr p.ellipsis {
    white-space: nowrap; 
    width: 75px; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
.subHeading {
    background-color: #f3f3f3;
    padding: 10px;
    display: table;
    width: 100%;
}
.subHeading h3 {
    display: table-cell;
    font-size: 22px;
}
.subHeading div {
    display: table-cell;
    font-size: 22px;
    color: #939497;
    position: relative;
    text-align: right;
    padding-right: 39px;
    cursor: pointer;
}
.subHeading p:after {
    content: "";
    border: solid #919395;
    border-width: 0 0 3px 3px;
    display: inline-block;
    padding: 4px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    right: 15px;
    top: 6px;
    color: #939497;
    position: absolute;
}
.subHeading ul {
    position: absolute;
    background: #FFF;
    border: 1px solid #939497;
    right: 0;
    top: 36px;
    width: 100px;
    text-align: left;
}
.subHeading ul li {
   border-bottom: 1px solid;
}
.subHeading ul li label{
    cursor: pointer;
    padding-bottom: 10px;
    display: block;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    font-size: 15px;
}
.subHeading ul li input{
    display: none;
}
.subHeading ul li:hover, .filters .active {
    color: #FFF;
    background-color: #939497;
}

.chartContainer {
    padding: 10px 10px 10px 30px;
    display: table;
    width: 100%;
}
.chart {
    width: 65%;
}
.chart, .category {
    display: table-cell;
}
.chart .price {
    font-size: 30px;
}
.price span {
    font-size: 15px;
}
.category span {
    font-size: 17px;
}

.category p {
    font-size: 22px;
    padding-bottom: 10px;
}
.category p em {
    font-size: 14px;
    font-style: normal;
}
.chartArea {
    display: table;
    width: 100%;
    margin-top: 18px;
}
#chart, .chartArea ul { 
    display: table-cell;
    vertical-align: top;
}
.chartArea ul {
    vertical-align: middle;
}
/* Footer part - Start **/

footer {
    position: fixed;
    bottom: 0;
    z-index: 9999;
    height: 60px;
    border-top: 2px solid #e8e8e8;
    padding-top: 10px;
    margin: 0 10px;
    width: 100%;
    background-color: #FFF;
}

footer ul li {
    list-style: none;
    display: inline;
    padding-right: 10px;
    border-right: 1px solid #898989;
    vertical-align: middle;
    padding-left: 5px;
    float: left;
    margin-top: 10px;
}
footer ul li:first-child {
    padding-left: 0;
}

footer ul li.noRightBorder, footer ul li:last-child {
    border-right: none;
    padding-right: 0;
}
footer ul li:last-child {
    float: right;
    margin: 0;
}

footer ul li a{
    text-decoration:  none;
    color: #898989;
    font-size: 15px;
    vertical-align: middle;
}
footer ul li a:hover{
    text-decoration: underline;
}
footer ul li img {
    width: 125px;
    padding-right: 15px;
}
/* Footer part - End **/

/*ng Classes */
.has-error input {
    border-color: red;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
button:disabled,
button[disabled]{
  cursor: not-allowed;
}
.arc text {
  text-anchor: middle;
}
.arc path {
  stroke: #fff;
}